
a.class_a_href{
  cursor: default;
  color: white;
}

div.principal{
  margin-left:  0px !important;

}

div.lateral{
  display: inline-grid;
  padding: 5%;
  width: 50%;
  position: relative;

}

div.otro-lado{
  display: inline-flex;
  padding: 5%;
  margin-top: 50px;
  margin-left: 10px;
  width: 30%;
}

button.btn{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

a.btn-crudd{
  cursor: default;
  color: white;
}

button.boton_para_volver{
  margin-bottom: 5px;
}

blockquote.blockquote{
  margin-top: 20%;
  margin-left: 10% !important;
}

table.table{
  margin-top: 20px;
}

div.crudd{
  display: inline-flex;
  margin: 20px;
  width: 70%;
  margin-left: 10px !important;
}
form{
	width:50%;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#6CC9F8;
}

form select{
  border-radius: 10px;
}

form input{
  width: 150px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20%;
    border-radius: 10px;
}

form label{
    margin-right: 40px;
    margin-left: 20px;
}

.selecc-Factura{
  margin-left:20px;
}

.logo{
  display: block;
  margin: auto;
}

 .buscador{
  border-radius: 6px;
}

.boton-volver .boton_para_volver{
  border-radius: 6px;
}

.btn.btn-sucess {
  background: #00000000;
}
