/* Colores {
  Principales {
    verde: #24BB14,
    azul: #0044BB,
  }
} */

/*Variables*/
#footer-thankyou{
  display: none;
}

#wpfooter{
  display: none;
}

/* General styles */
:root {
  --main-green:#50a74b;
  --main-blue: #004b7c;
  --sec-blue: #0061a0;
  --light-green: #289241;
  --light-blue: #88aad7;
}

.list-win{
  border-radius: 2px;
  background: #BCFCA2;
}

.list-lost{
  background: #FD8A51;
  border-radius: 2px;
}

/*principal page styles*/
.principal{
  /* padding: 2vh;
  border: 1vh; */
  display: flex;
  /* background-color: #560bad; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  height: 300px;
  align-items: stretch;
  /* align-content: center; */
}

.title{
  color: var(--main-blue);
  width: 100%;
}

.main-image{
  height: 300px;
  align-items: center;
}

/*Menu principal*/
/* header {
  background:  var(--light-green);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-menu li{
  float: left;
  position: static;
}

.main-menu li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.main-menu li a:hover{
  background-color: var(--main-green);
} */

.post-menu{
  position: relative;
  bottom: -100px;
}

.img-menu{
  height: 50px;
  /* background-color: #fff; */
  align-self: center;
  color: white;
}

/*Buscador datatable */
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline;
  width: 80%;
}

/*Botones*/
.btn-outline-success{
  background-color: var(--light-green);
  color: white;
}

.btn-primary{
  background-color: var(--light-green);
}

.btn-secondary{
  background-color: var(--main-blue);
}

.btn-accion{
  background-color: rgb(187, 187, 187);
  border: solid 2px black;
}
/* / Botones vista estudiantes*/

#wpfooter{
  position: relative;
}

a.class_a_href{
  cursor: default;
  color: white;
}



div.lateral{
  display: inline-grid;
  padding: 5%;
  width: 50%;
  position: relative;

}

div.otro-lado{
  display: inline-flex;
  padding: 5%;
  margin-top: 50px;
  margin-left: 10px;
  width: 30%;
}

button.btn{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

a.btn-crudd{
  cursor: default;
  color: var(--main-blue);
}

button.boton_para_volver{
  margin-bottom: 5px;
}

blockquote.blockquote{
  margin-top: 20%;
  margin-left: 10% !important;
}

table.table{
  margin-top: 20px;
}

div.crudd{
  display: inline-flex;
  margin: 20px;
  width: 70%;
  margin-left: 10px !important;
}


form select{
  border-radius: 10px;
}



form label{
    margin-right: 40px;
    margin-left: 20px;
}

.selecc-Factura{
  margin-left:20px;
}

.logo{
  display: block;
  margin: auto;
}

 .buscador{
  border-radius: 6px;
}

.boton-volver .boton_para_volver{
  border-radius: 6px;
}

.btn.btn-sucess {
  background: #00000000;
}

/*
estilos de tablas
*/
table {
  background-color: var(--light-blue);
  border-radius: 5px;
}

table thead {
  border: 12px;
  background-color:var(--sec-blue);
  color: #fff;
}

.dataTables_length select{
  width: 50px;
}

/* Vista de administracion */
div.admin_contenedor {
  display: flex;
  /* background-color: #560bad; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  height: 300px;
  align-items: center;
  padding-top: 100px;
}

div.admin_contenedor > button{
  background-color: #4895ef;
  color: #f1feae;
  margin: 20px;
  padding: 15px;
  font-size: 1.5em;
}